body {
  background: #2c2c2c;
}

aside {
  float: left;
  background: #181818;
  width: 20%;
  padding: 2.5%;
  height: 100vh;
  color: #fff;
  border-right: 5px solid #4d4d4d;
}

aside h3 {
  font-size: 30px;
}

aside ul {
  list-style: none;
}

aside ul li {
  color: #fff;
  display: block;
  margin-top: 20px;
  transition: transform 0.6s ease;
}

aside ul li:hover,
aside ul a:hover {
  color: #eb5959;
  text-decoration: none;
  transform: scale(1.2);
}

main .features {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  width: 80%;
  float: left;
  max-height: 100vh;
  overflow-y: auto;
}

.table-block {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60%;
}

.hidden-table {
    display: none;
}

main .nl {
  float: right;
  color: #fff;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nl h1 {
  margin-top: 50px;
  color: #fff;
}

.nl .form-check {
  margin-bottom: 10px;
}

.nl button {
  margin-top: 10px;
}

/*
main .nl {
  float: right;
  color: #fff;
  margin-top: 50px;
  width: 80%;
}

.nl form {
  margin-top: 10px;
  color: white;
  position: fixed;
  left: 50%;
}

.nl h1 {
  text-align: center;
}
*/
